body{
    background-color: #45935d;
}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16%;
}

.boton img{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    border-radius: 4%;
}

.boton img:hover{
    opacity: 0.8;
    
}