*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.logo-ittla{
    background-color: #45935d;
    width: 100%;
    height: 80px;
}

a .logo{
    width: 80px;
    height: 80px;
    padding-bottom:10px;
}


a{
    text-decoration: none;
    color: white;
    padding-right: 20px;   
}

a:hover{
    color: yellow;
}

ul{
    display: flex;
    justify-content: flex-end ;
    margin-top: -50px;
    list-style: none;  
}

.fondo{
    width: 500px;
    height:450px;
    opacity: .6;
    display: block;
    margin: auto;
    margin-top: 140px;
    
}

/* Estilo general para textos*/
.texto-centrado{
    margin-top: 100px;
    margin-left: 20%;
    width: 60%;
    text-align: justify;
}
.texto-centrado h1{
    text-align: center;
}
/* Ubicacion*/
.mapa{
    width: 100%;
}
/* Acerca de*/
.maquetacion img{
    width: 100%;
    height: 40%;
}
/* Contacto */
.desarrollador img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 80px;
}

.desarrollador h1{
    display:flex;
    justify-content: center;
}

.desarrollador table{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilo datos de tabla*/
.tablas-centradas{
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    text-align: justify;
}

.tablas-centradas h1{
    text-align: center;
}

/*Estilos de tabla*/

.practicas2 h3{
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
    padding-right: 22px;
}
.practicas2 li{
    padding-top: 20px;;
}

.practicas2{
    display: inline-block;
    margin-top: 50px;
    width: 100%;
    background-color: #48B568;
    height: 650px;
    text-align: center;
}

.practicas2 a:hover{
    color:yellow;
}
